
body {
  background: radial-gradient(#e66465, #0000CD);
}

h1{
  text-align: center;
  font-family: 'Alegreya', serif;
  font-size: 60px;
}


.button {
  background-color: black;
  font-size: 15x;
  border: 0px;
  width: 250px;
  height: 10em;
  border-radius: 12px; 
}


/* .game-status{
  align-content: center;
} */

#button-grid{
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(2,auto);
  text-align: center;
  justify-content: center;
  align-content: center;
  margin:125px auto;
}

#corner-image{
  align-content: center;
}


#startButton{
  height: 40px;
  width: 80px;
  font-size: 20px;
  color: white;
  background-color: black;
}
#startButton:hover{
  color: black;
  background:white;
 }


