body, html {
  height: 100%;
}

body {
  background-image: url('https://i.pinimg.com/originals/6d/e2/df/6de2df9db2899a610b72d595c0f3a59b.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  font-family: 'Alegreya', serif;
  font-size: 60px;
}


.button {
  background-color: black;
  font-size: 15x;
  border: 0px;
  width: 250px;
  height: 10em;
  border-radius: 12px; 
}

/* #button-grid-top{
  text-align: center;
  padding-top: 15%;
  justify-content: center;
  align-content: center;
  height: auto;
}
#button-grid-bottom{
  text-align: center;
  padding: 25px;

} */

.game-status{
  align-content: center;
}

#button-grid{
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(2,auto);
  text-align: center;
  justify-content: center;
  align-content: center;
  margin:125px auto;
}

#corner-image{
  align-content: center;
}

#startButton:hover{
  color: white;
  background: black;
 }


